body {
    margin: 0;
    padding: 0;
    animation: body linear 4s infinite alternate;

}
/*animation: color 1s linear 2s infinite alternate;*/
@keyframes color{
    0%{color: black; font-size: 18px;}
    10%{color: blanchedalmond;font-size: 20px;}
    50%{color: red;font-size: 30px;}
    75%{color: saddlebrown;font-size: 40px;}
    100%{color: seagreen;font-size: 50px;}
}


@keyframes body {
    0%{background-color: red;}
    25%{background-color: chocolate;}
    50%{background-color: blueviolet;}
    75%{background-color: cornflowerblue;}
    100%{background-color: blue;}
}
@keyframes animate {
    0% {background-color: burlywood; left: 0px; top: 0px; color: thistle;}
    50%{background-color: yellow;left: 1000px; top: 0; color: tomato;}
    75%{background-color: cornsilk; left: 0; top: 300px;}
    100%{background-color: teal;left: 0px; top: 300px; color: blue;}
}
