body {
    margin: 0;
    padding: 0;
    transition: .4s linear;
    animation: body linear 4s infinite alternate;
}
@keyframes body {
    0%{background-color: red;}
    25%{background-color: chocolate;}
    50%{background-color: blueviolet;}
    75%{background-color: cornflowerblue;}
    100%{background-color: blue;}
}
#box {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 10px 0 0 10px;
    animation: animate 4s linear 2s infinite alternate;
    position: relative;
    font-size: 20px;
}
@keyframes animate {
    0% {background-color: burlywood; left: 0px; top: 0px; color: thistle;}
    50%{background-color: yellow;left: 1000px; top: 0; color: tomato;}
    75%{background-color: cornsilk; left: 0; top: 300px;}
    100%{background-color: teal;left: 0px; top: 300px; color: blue;}
}